.buttons
  %form{action: '/flip', method: 'POST'}
    %input{type: 'hidden', value: '5', name: 'seconds_til_flip'}
    %button.wide-btn.btn.btn-inverse{ type: 'submit' } 5 seconds
  %form{action: '/flip', method: 'POST'}
    %input{type: 'hidden', value: '30', name: 'seconds_til_flip'}
    %button.wide-btn.btn.btn-inverse{ type: 'submit' } 30 seconds
  .input-append
    %form{action: '/flip', method: 'POST'}
      %input.custom.span1{value: '5', name: 'minutes_til_flip', type: 'number', pattern: '\d*', 'data-behavior' => 'select-on-click'}
      %button.narrow-btn.btn.btn-inverse.btn-minute{type: 'submit'} minutes

:javascript
  $('[data-behavior=select-on-click]').on('click', function(e) {
    $(e.target).focus();
    $(e.target).select();
  });
