.buttons
  %form{action: '/flip', method: 'POST'}
    %input{type: 'hidden', value: '5', name: 'seconds_til_flip'}
    %input.btn.btn-inverse{ type: 'submit', value: '5 seconds' }
  %form{action: '/flip', method: 'POST'}
    %input{type: 'hidden', value: '30', name: 'seconds_til_flip'}
    %input.btn.btn-inverse{ type: 'submit', value: '30 seconds' }
  %div.input-append
    %form{action: '/flip', method: 'POST'}
      %input.custom.span1{value: '5', name: 'minutes_til_flip', type: 'text'}
      %button.btn.btn-inverse{type: 'submit'}
        minutes
