!!! 5
%html
  %head
    %title coinflip

    %meta{ content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", name:'viewport' }

    %link{ rel: 'stylesheet', href: '/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '/style.css' }

    %link{ rel: 'apple-touch-icon', href: '/cf-logo.png' }

    %script{ src: '/js/jquery.min.js' }

  %body
    .content
      .header.left-aligned
        %h1
          %a(href = '/') coinflip
      .main.left-aligned
        =yield
