!!! 5
%html
  %head
    %title coinflip

    %link{ rel: 'stylesheet', href: 'css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'css/bootstrap-responsive.min.css' }
    %link{ rel: 'stylesheet', href: 'style.css' }

    %script{ src: 'js/bootstrap.min.js' }
    %script{ src: 'js/jquery.min.js' }

  %body
    .container
      .row-fluid.logo
        %h1 coinflip
      .row-fluid
        =yield
