%h1 this is a flip with id: #{id}
%span#result
%span#seconds_til_flip

:javascript
  var secondsLeft;
  var updateTimer = function(s, result) {
    if (s > 0) {
      $('#seconds_til_flip').text(s)
      secondsLeft--;

      setTimeout(function() {
        updateTimer(secondsLeft);
      }, 1000);
    } else if (!result) {
      window.location.reload();
    }
  }

  $.get('/flip/#{id}', function(data) {
    $('#result').text(data.result);
    secondsLeft = data.seconds_left;
    updateTimer(secondsLeft, data.result);
  });
