%h1 this is a flip with id: #{id}
%span#result
%span#seconds_til_flip

:javascript
  var updateTimer = function(s, result) {
    if (s > 0) {
      $('#seconds_til_flip').text(s)

      setTimeout(function() {
        updateTimer(s - 1, result);
      }, 1000);
    } else if (!result) {
      window.location.reload();
    }
  }

  $.get('/flip/#{id}', function(data) {
    $('#result').text(data.result);
    updateTimer(data.seconds_left, data.result);
  });
