%h1#result
%h1#seconds_til_flip
%p http://coinflip.herokuapp.com/#{id}

:javascript
  var updateTimer = function(s, result) {
    if (s > 0) {
      $('#seconds_til_flip').text( formatCountdown(s) );

      setTimeout(function() {
        updateTimer(s - 1, result);
      }, 1000);
    } else if (!result) {
      window.location.reload();
    }
  }

  var formatCountdown = function(s) {
    var minutes = Math.floor(s / 60);
    var seconds = s % 60;
    return doubleDigitize(minutes) + ":" + doubleDigitize(seconds);
  }

  var doubleDigitize = function(i) {
    if ( i < 10 ) {
      return "0" + i;
    } else {
      return i;
    }
  }

  $.get('/flip/#{id}', function(data) {
    if (data.result) {
      $('#result').text(data.result);
    } else {
      updateTimer(data.seconds_left, data.result);
    }
  });
