=vcenter
  display: box
  box-align: center
  display: -moz-box
  -moz-box-align: center
  display: -webkit-box
  -webkit-box-align: center
  -webkit-box-pack: center

=parent-of-horizontal
  -moz-box-orient: horizontal
  -webkit-box-orient: horizontal
  box-orient: horizontal

a
  color: #333

.container
  +vcenter
  position: absolute
  top: 0
  bottom: 0
.middle
  +vcenter
  +parent-of-horizontal
  border: 1px solid #333
.logo
  +vcenter
  border-right: 1px solid #333
  height: 300px
  -webkit-box-flex: 1
.mainpage
  -webkit-box-flex: 2
  +vcenter
  form
    margin: 0
  .buttons
    .btn
      width: 110px
  input
    display: block
    margin: 5px 0
  .countdown
    position: absolute
    top: 35%
    font-size: 72pt
    font-weight: bold
  .urlbox
    position: absolute
    top: 54%
    .flipurl
      width: 230px
